body {
  background-image: url("./img/daria-nepriakhina-04-WHQ_8iaQ-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.WeatherIcon canvas {
  margin-right: 10px;
  margin-left: 15px;
  margin-top: 20px;
  display: inline-block;
}
.Search {
  background-color: #fff;
  color: #8f8787;
  width: 400px;
  border-color: #e4f1fe;
  opacity: 85%;
}

.unit {
  position: relative;
  top: -16px;
  font-size: 16px;
}

.unit a{
text-decoration: none;
}
.unitDivider {
  font-size: 14px;
}

.Values {
  background-color: #fff;
  color: #8f8787;
  border-color: #e4f1fe;
  width: 400px;
  opacity: 90%;
}

.autor {
  font-size: xx-small;
  color: #ffe9e9;
}

.autor a {
  text-decoration: none;
  color: #ffe9e9;
}

.autor a:hover {
  color: #fff;
}