.App {
  color: rgb(114, 111, 111);
  /* background-image: url("./img/daria-nepriakhina-04-WHQ_8iaQ-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

.Search {
  background-color: #fafafa;
  width: 400px;
  opacity: 70%;
}

.Values {
  background-color: #e4f1fe;
  width: 400px;
}

.autor {
  font-size: xx-small;
}