.myApp {
  color: rgb(167, 167, 167);
  /* background-image: url("./img/daria-nepriakhina-04-WHQ_8iaQ-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

.Search {
  margin: 40px;
  background-color: #fbfbfb;
  width: 400px;
  opacity: 70%;
}

.autor {
  font-size: xx-small;
}